<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/awesomeapp.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/datathonLogoPB.png') }}" height="30px"></a>
    </nav>

    <main role="main" class="container">

      <div class="main-content">
        <!-- 'body' block begins here -->
        {% block body %}{% endblock %}
        <!-- 'body' block ends here -->
      </div>

    </main>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/amcharts/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/amcharts/serial.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/awesomeapp.js') }}"></script>

  </body>

</html>
