{% extends "base.html" %}

{% block title %}Awesome App{% endblock %}

{% block body %}

<h1>Welcome to Awesome App!</h1>

<p> this is awesome app!</p>

<div class="row">
    <div class="col-xs-6">
        <div id="chartDiv">
        </div>
    </div>
    <div class="col-xs-6">
        <table class="table hidden age-table">
            <thead>
                <tr>
                    <th scope="col">age</th>
                    <th scope="col">education</th>
                    <th scope="col">value</th>
                </tr>
                <tbody class="table-body">

                </tbody>
            </thead>
        </table>
    </div>
</div>

<div class="table-row template">
    <table>
        <tr>
            <th scope="col">{age}</th>
            <td>{education}</td>
            <td>{value}</td>
        </tr>
    </table>
</div>

{% endblock %}